html, body {
  font-family: 'Cabin', sans-serif!important;
}

a:hover {
  cursor: pointer;
}

.center-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.full-width {
  width: 100%!important;
}

/* Color Schemes */
.md-disabled {
  background-color: #bbbbbb!important;
  color: #FFFFFF!important;
}
.md-primary {
  background-color: #16a085!important;
  color: #ecf0f1!important;
}
.md-primary-inverse {
  color: #16a085!important;
}
.md-accent {
  background-color: #2980b9!important;
  color: #ecf0f1!important;
}
.md-accent-inverse {
  color: #2980b9!important;
}
/* End Color Schemes */

/* Site Outline Classes */
.site-header {
  background-color: #FFFFFF!important;
  color: #16a085!important;
  -webkit-box-shadow: 0 5px 7px -8px #998;
  -moz-box-shadow: 0 5px 7px -8px #998;
  box-shadow: 0 5px 7px -8px #998;
}
.site-footer {
  background-color: #16a085;
  color: #FFFFFF;
  padding: 30px;
}
.site-footer-column {
  margin-top: 10px;
}

.site-footer-column span:first-child {
  font-weight: bold;
  margin-bottom: 15px;
}

.site-footer-column span {
  margin-bottom: 10px;
}

.site-footer-column span a {
  text-decoration: none;
}

.site-footer-copyright {
  text-align: center;
  font-size: .75rem;
  padding-top: 10px;
}

.site-loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  color: #FFFFFF;
}
/* End Site Outline */

/* Site Content */
  .content-header-image {
    padding: 50px;
    padding-top: 75px;
    padding-bottom: 75px;
    background-position: center!important;
    background-size: cover;
    background-repeat: no-repeat;
    color: #FFFFFF;
    text-align: center;
  }
  .content-header-image h3 {
    color: #dddddd;
    margin-top: 0px;
  }

  .content-padding-standard {
    padding-top: 30px;
    padding-bottom: 30px;
  }
/* End Site Content */

/* Buttons */
  md-button {
    font-weight: bolder!important;
  }
  .md-button-custom {
    font-weight: 800!important;
    border-radius: 50px!important;
    padding-left: 15px!important;
    padding-right: 15px!important;
  }
  .md-button-custom-padded {
    font-size: 1.25rem;
    padding: 10px!important;
    padding-left: 40px!important;
    padding-right: 40px!important;
    text-transform: none!important;
  }
/* End Buttons */

/* Cards */
  .md-card-custom:hover {
    cursor: pointer!important;
  }
  .md-card-custom small {
    color: #aaaaaa;
  }
  .md-card-custom md-card-actions {
    padding: 5px;
  }
/* End Cards */

/* Forms */
  .custom-form input {
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 18px;
    text-align: left;
    margin-bottom: 20px;
    padding: 10px!important;
    width: 100%;
    display: block;
    box-sizing: border-box;
    resize: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #FFFFFF;
  }
/* End Forms */
