<site-outline>
  <content-header-image
    title="Skip the Lawyers"
    subtitle="OnTheBlock is a smart-contract backed escrow for real estate transactions"
    image="assets/img/landing/header.jpg"
    >
    <br>
    <md-button class='md-button-custom md-button-custom-padded md-accent' ng-click="navigation.scrollTo('listings')"><i class='fa fa-search'></i> Browse Homes </md-button>
    <md-button class='md-button-custom md-button-custom-padded md-accent' ng-click="navigation.goSell()"> Sell <i class='fa fa-arrow-right'></i> </md-button>
  </content-header-image>
  <content-padding-standard>
    <div flex="100" layout="column">
      <content-title-standard id="listings" icon="fa-home" text="For Sale in Buffalo"></content-title-standard>
      <div flex="100" layout="row">
        <div flex="33">
          <md-card>
           <img src="assets/img/landing/header.jpg" class="md-card-image" alt="image caption">
           <md-card-content>
             <h2>$104,000 <br><small>3 Bedrooms, 2,100 sqft</small></h2>
             <p><i class='fa fa-map-marker'></i> Tonawanda, New York</p>
           </md-card-content>
          </md-card>
        </div>
        <div flex="33">
          <md-card>
           <img src="assets/img/landing/header.jpg" class="md-card-image" alt="image caption">
           <md-card-content>
             <h2>$104,000 <br><small>3 Bedrooms, 2,100 sqft</small></h2>
             <p><i class='fa fa-map-marker'></i> Tonawanda, New York</p>
           </md-card-content>
          </md-card>
        </div>
        <div flex="33">
          <md-card>
           <img src="assets/img/landing/header.jpg" class="md-card-image" alt="image caption">
           <md-card-content>
             <h2>$104,000 <br><small>3 Bedrooms, 2,100 sqft</small></h2>
             <p><i class='fa fa-map-marker'></i> Tonawanda, New York</p>
           </md-card-content>
          </md-card>
        </div>
      </div>
    </div>
  </content-padding-standard>
</site-outline>
