<site-outline>
  <content-header-image
    title="New Listing"
    subtitle="Sell your home with our digital escrow"
    image="assets/img/sell/header.jpg"
    >
  </content-header-image>
  <content-padding-standard>
    <div flex="100">
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline"><strong>Listing Details</strong></span>
          </md-card-title-text>
        </md-card-title>
        <md-divider></md-divider>
        <md-card-content>
          <md-input-container>
           <label>Title</label>
           <input ng-model="user.title">
         </md-input-container>
        </md-card-content>
      </md-card>
    </div>
  </content-padding-standard>
</site-outline>
